# ######################################### #
# Environment                        #
# ########################################  #
## list[dev,prod]: If dev is active, you'll get debugging on your Mediawiki
W4R_MW_ENVIRONMENT=dev

# ######################################### #
# MediaWiki Settings                        #
# ########################################  #
W4R_MW_VERSION="1.39"
W4R_MW_WIKI_NAME="MyWiki"
W4R_MW_ADMIN_USER="Admin"
W4R_MW_ADMIN_PASS="changeme123"
W4R_MW_ADMIN_EMAIL="admin@wb.develop"
W4R_MW_EMERGENCY_CONTACT="admin@wb.develop"
W4R_MW_WG_SECRET_KEY="changemesecretkey123"

W4R_MAIL_HOST="mail.local"
W4R_MAIL_PORT="25"

# ######################################### #
# PHP Settings                              #
# ########################################  #
PHP_UPLOAD_MAX_FILESIZE=50M
PHP_POST_MAX_SIZE=50M

# ######################################### #
# Database Settings                         #
# ########################################  #
W4R_DB_SERVER="database:3306"
W4R_DB_USER="wikiuser"
W4R_DB_PASS="dbpassword123"
W4R_DB_NAME="wiki"

# ######################################### #
# Server Settings                           #
# ########################################  #

## list[http,https]: Choose if you want to serve http/https (For local depoyment use http, W4R doesnt provide Cert-Management)
W4R_SCHEME=http
## string: The URL you want to deploy W4R on
W4R_SERVER_NAME="wb.develop"
W4R_FULL_SERVER_NAME="$W4R_SCHEME://$W4R_SERVER_NAME"

# ######################################### #
# Data Model                                #
# ########################################  #

## string: Leave as-is if you want to keep the default data model - URL of the TTL file containing data model structure
W4R_DATA_MODEL_FILE_URL=https://gitlab.com/nfdi4culture/wikibase4research/auxiliary-service-repositories/wikibase-model/-/raw/37-update-the-data-model-for-events-and-event-related-properties/wikibase_generic_model.ttl?ref_type=heads
## string: Leave as-is if you want to keep the default data model - URL of the Python script that loads the data model
W4R_DATA_MODEL_SCRIPT_URL=https://gitlab.com/nfdi4culture/wikibase4research/auxiliary-service-repositories/wikibase-model/-/raw/main/scripts/ttl2wb.py?ref_type=heads

# ######################################### #
# Kompakkt Settings                         #
# ########################################  #
W4R_KOMPAKKT_SERVER_NAME="kompakkt.$W4R_SERVER_NAME"
W4R_KOMPAKKT_FULL_SERVER_NAME="$W4R_SCHEME://$W4R_KOMPAKKT_SERVER_NAME"
MONGO_USERNAME=mongouser
MONGO_PASSWORD=mongopass123
MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
MONGO_PORT=27017
MONGO_URL=mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@kompakkt-mongo:${MONGO_PORT}

# ######################################### #
# INSTANCE Settings                         #
# ########################################  #
W4R_INIT_FOLDER="./wikiPresets/wikibase_plain"
W4R_CUSTOM_INIT_PYTHON_SCRIPT="$W4R_INIT_FOLDER/scripts/customScript.py"

## services: Select the services you want to use.
W4R_COMPOSER_SERVICE_INCLUDE=control,elasticsearch,openrefine,wbjobrunner,wdqs,wiki #,kompakkt #deploy
W4R_COMPOSER_HEALTHCHECK_RETRIES=10

# ######################################### #
# OpenRefine Settings                       #
# ########################################  #
W4R_OPENREFINE_VERSION="latest"
W4R_OPENREFINE_SERVER_NAME="$W4R_SCHEME://reconcile.$W4R_SERVER_NAME"

# ######################################### #
# WDQS Settings                             #
# ########################################  #
W4R_WDQS_FRONTEND_SERVER_NAME="query.$W4R_SERVER_NAME"
WDQS_FRONTEND_BRANCH=develop
WDQS_FRONTEND_CONTAINER=https://gitlab.com/nfdi4culture/wikibase4research/auxiliary-service-repositories/custom-wdqs.git#${WDQS_FRONTEND_BRANCH}

# ######################################### #
# ReverseProxy Settings                     #
# ########################################  #

## port: On which port should this application be served?
W4R_REVERSEPROXY_PORT=80
W4R_TRAEFIK_WEBCONFIG_PORT=8091
