PREFIX tib: <{{W4R_SCHEME}}://{{ W4R_SERVER_NAME }}/wiki/Spezial:Objektdaten/>
PREFIX tibt: <{{W4R_SCHEME}}://{{ W4R_SERVER_NAME }}/wiki/prop/direct/>
PREFIX tibp: <{{W4R_SCHEME}}://{{ W4R_SERVER_NAME }}/wiki/prop/>
PREFIX tibps: <{{W4R_SCHEME}}://{{ W4R_SERVER_NAME }}/wiki/prop/statement/>
PREFIX tibpq: <{{W4R_SCHEME}}://{{ W4R_SERVER_NAME }}/wiki/prop/qualifier/>
PREFIX wikibase: <http://wikiba.se/ontology#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX bd: <http://www.bigdata.com/rdf#>
