{
    "extra": {
        "merge-plugin": {
            "include": [
                {%- if extensions %}
                {%- for extension in extensions %}
                "extensions/{{ extension }}/composer.json"{% if not loop.last %},{% endif %}
                {%- endfor %}
                {%- endif %}
                {%- if skins %}
                {%- if extensions %},{% endif %}
                {%- for skin in skins %}
                "skins/{{ skin }}/composer.json"{% if not loop.last %},{% endif %}
                {%- endfor %}
                {%- endif %}
            ]
        }
    }
}
